@if $theme-selection-search == search-on-navigation {

  #site-header {

    @media (min-width: $screen-md-min) {
      nav.header-menu-secondary-nav {
        display: flex;
        flex-wrap: wrap;
        .header-site-search {
          &.search-desktop {
            display: block !important; //Overriding an inline style
          }
        }

        .header-menu-search-link {
          display: none; //Hidde search button
        }

        .header-menu-search {
          min-width: 30%; //We don't want this to be super small, so let's set a minimmum width
          flex-grow: 1;
          .site-search-content {
            max-width: 100%;
            width: auto;
            &:after,
            &:before { //the small pick is not needed for this option
              display: none;
            }
          }
        }

        ul.header-menu-level1 {
          flex: auto;
        }

      }
      
      .header-site-search {
        &.search-mobile {
          display: none !important; //overriding an inline style.
        }
      }
    }

  }

}

