/*
	Sass Application Entry Point
	Link all your sass dependencies in the right order

	Example:
	@import "other-sass-file.scss";
	@import "../../<other module>/Sass/other-sass-file.scss";
*/ 

.cart-confirmation-modal-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart-confirmation-modal-buttons-row {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
a.cart-confirmation-modal-view-cart-button {
    width: 50%;
	margin-top: 0px;
    color: #000;
    background: #ffffff;
    display: inline-block;
    border: 2px solid #000;
}
a.cart-confirmation-modal-checkout-button {
    width: 50%;
    text-align: center;
    font-weight: 600;
    border: 2px solid #7dff01;
    padding: 20px 35px;
    font-size: 1.067rem;
    line-height: 1;
    letter-spacing: 1px;
    background: #7dff01;
    color: #000;
    display: inline-block;
    text-transform: uppercase;
    text-shadow: 1px 1px rgba(0, 0, 0, .25);
    font-family: Droid Sans;
	border-radius: 0px
}
a.cart-confirmation-modal-checkout-button:hover{
    background: #000;
    color: #fff;
    border: 2px solid #000;
    text-decoration: none;
}